@import url("https://fonts.googleapis.com/css?family=Karla&display=swap");

.copy {
  cursor: copy;
}

.pointer {
  cursor: pointer;
}

body {
  font-family: "Karla", sans-serif;
  background-image: url("./ethereum.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: calc(50%) calc(100% + 80px);
}

.widget-box-two .widget-two-icon {
  top: 20px;
}

span.logo {
  font-size: 25px;
  font-variant: all-small-caps;
  vertical-align: middle;
  margin-left: 10px;
}
/* 
Generic Styling, for Desktops/Laptops 
*/
table {
  width: 100%;
  border-collapse: collapse;
}

th {
  font-weight: bold;
}
td,
th {
  padding: 6px;
  border: 1px solid #ccc;
  text-align: left;
  vertical-align: middle !important;
}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Force table to not be like tables anymore */
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
    text-align: none;
  }

  .navbar-nav .nav-link {
    padding-left: 10px;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #ccc;
  }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50% !important;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  /*
	Label the data
	*/
  .main-table td:nth-of-type(1):before {
    content: "Name";
    vertical-align: middle !important;
  }
  .main-table td:nth-of-type(2):before {
    content: "Contract";
  }
  .main-table td:nth-of-type(3):before {
    content: "Owners";
  }
  .main-table td:nth-of-type(4):before {
    content: "Daily Limit";
  }
  .main-table td:nth-of-type(5):before {
    content: "Confirms";
  }
  .main-table td:nth-of-type(6):before {
    content: "Actions";
  }

  .stats-table td:nth-of-type(1):before {
    content: "Number";
    vertical-align: middle !important;
  }
  .stats-table td:nth-of-type(2):before {
    content: "Data";
  }
  .stats-table td:nth-of-type(3):before {
    content: "Destination";
  }
  .stats-table td:nth-of-type(4):before {
    content: "Value";
  }
  .stats-table td:nth-of-type(5):before {
    content: "Executed";
  }
}
